/* Можно импортировать шрифты с Интернета */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: normal;
    /* font: normal 17px 'Roboto', sans-serif; */
    line-height: 20px;
    /* text-decoration: line-through; */
    /* font-style: italic; */
    /* letter-spacing: 5px; */
    /* word-spacing: 10px; */
}